<h2>Photos Admin<h2>

<p>[% thanks_message %]
<p><a href="[% cgipath %]/pages.cgi?act=album-photoadd"><img src="[% webpath %]/images/icons/add.gif" alt="add a photo" /></a> - Add a Photo

<div class="admin">
<table>
<tr>
<td class="bold">Image No.</td>
<td class="bold">Thumbnail</td>
<td class="bold">Photo</td>
<td class="bold">Tagline</td>
<td class="bold">Actions</td>
</tr>
[% FOREACH record = records %]
<tr>
<td>[% record.photoid %]</td>
<td>[% record.thumb %]</td>
<td>[% record.image %]</td>
<td>[% record.tagline %]</td>
<td nowrap><a href="[% cgipath %]/pages.cgi?act=album-photoedit&amp;iid=[% record.photoid %]">Edit</a> /
    <a href="[% cgipath %]/pages.cgi?act=album-photodelete&amp;iid=[% record.photoid %]">Delete</a></td>
</tr>
[% END %]
</table>
</div>

<p><a href="[% cgipath %]/pages.cgi?act=album-photoadd"><img src="[% webpath %]/images/icons/add.gif" alt="add a photo" /></a> - Add a Photo
